<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Disease Research Trends</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('bower.static', filename='materialize/bin/materialize.css') }}" media="screen,projection" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		.axis path, .axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}

		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}

		#yearChart .bar {
			fill: #E57373;
			stroke: #000000;
			shape-rendering: crispEdges;
		}

		#yearChart .bar:hover {
			fill: #F44336;
		}

		.d3-tip {
			line-height: 1;
			font-weight: bold;
			padding: 12px;
			background: rgba(0, 0, 0, 0.8);
			color: #fff;
			border-radius: 2px;
		}
	</style>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<main>
		<div class="section red lighten-1" id="index-banner">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h1 class="header white-text">Disease Research Trends</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="section">
				<h5>Search for a disease or disease area</h5>
				<div class="row">
					<form class="col l6 m12" action="{{ url_for('search') }}" method="POST">
						<div class="row">
							<div class="input-field col s12">
								<i class="material-icons prefix">search</i>
								<input type="text" id="search_term" name="search_term">
								<label for="search_term">Search</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input type="text" id="search_start" name="search_start">
								<label for="search_start">Start Year</label>
							</div>
							<div class="input-field col s6">
								<input type="text" id="search_end" name="search_end">
								<label for="search_end">End Year</label>
							</div>
						</div>
						<div class="progress hide" id="search_in_progress">
							<div class="indeterminate"></div>
						</div>
					</form>
					<div class="col l6 m12">
						<div class="card blue-grey darken-1">
							<div class="card-content white-text">
								<p>eg Diabetes, Coronary Heart Disease</p>
								<p>Optionally, enter a start or end year for the search</p>
								<p>Press enter to submit your search</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="divider"></div>
			<div class="section">
				<h5>Research articles per year</h5>
				<div class="col m12" id="yearChart"></div>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h5>Article Title Words</h5>
				<div class="col m12" id="wordCloud"></div>
			</div>

			<div class="row">
				<div class="col s12" id="query_details">
				</div>
			</div>

		</div>
	</main>


	<script type="text/javascript" src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='materialize/bin/materialize.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='d3/d3.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='d3-cloud/d3.layout.cloud.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='d3-tip/index.js') }}"></script>
	<script type="text/javascript">
		function getTicks(bins) {
			var num = bins.length;
			var factor = 1;
			if (num < 16) {
			} else if (num <= 100) {
				factor = 5;
			} else {
				factor = 10;
			}
			var new_ticks = [];
			$.each(bins, function(index, tick){
				if (tick % factor == 0) {
					new_ticks.push(tick)
				}
			});
			return new_ticks;
		}
		function drawYearGraph(data) {
			$("#yearChart").empty();
			var margin = {
				top: 20,
				right: 20,
				bottom: 20,
				left: 60
			};
			var width = $("#yearChart").width() - margin.left - margin.right;
			var height = 600 - margin.top - margin.bottom;
			var xScale = d3.scale.ordinal().rangeRoundBands([0, width], 0.1);
			var yScale = d3.scale.linear().rangeRound([height, 0]);
			var xAxis = d3.svg.axis().scale(xScale).orient("bottom");
			var yAxis = d3.svg.axis().scale(yScale).orient("left").tickFormat(d3.format("d"));
			var tip = d3.tip()
					.attr("class", "d3-tip")
					.offset([-10, 0])
					.html(function(d) {
						return "<strong>" + d["year"] + "</strong>: " + d["articles"] + " Articles"
					});
			var svg = d3.select("#yearChart")
					.append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
					.attr("transform", "translate(" + margin.left + ", " + margin.top + ")");
			xScale.domain(data.map(function (d){ return d["year"]}));
			yScale.domain([0, d3.max(data, function(d) { return d["articles"]})]);
			xAxis.tickValues(getTicks(xScale.domain()));
			svg.append("g").attr("class", "x axis").attr("transform", "translate(0, " + height + ")").call(xAxis);
			svg.append("g").attr("class", "y axis").call(yAxis);
			svg.call(tip);
			svg.selectAll("rect")
					.data(data, function(d){return d["year"]})
					.enter()
					.append("rect")
					.attr("x", function(d){ return xScale(d["year"])})
					.attr("y", function(d){ return yScale(d["articles"])})
					.attr("width", xScale.rangeBand())
					.attr("height", function (d) { return yScale(0) - yScale(d["articles"])})
					.attr("class", "bar")
					.on("mouseover", tip.show)
					.on("mouseout", tip.hide);
		}

		function drawWordCloud(word_data) {
			var container = $("#wordCloud");
			container.empty();
			var counts = $.map(word_data, function(d) {
				return d["occurrences"]
			});
			console.log([d3.min(counts), d3.max(counts)]);
			var sizeScale = d3.scale.linear().range([50, 3000]).domain([d3.min(counts), d3.max(counts)]);
			var fill = d3.scale.category20();
			var layout = d3.layout.cloud()
					.size([container.width(), 500])
					.words($.map(word_data, function(d) {
						return {text: d["word"], size: 10 + sizeScale(d["occurrences"]), test: "haha"}
					}))
					.padding(5)
					.rotate(function() { return (~~(Math.random() * 6) - 3) * 30; })
					.font("Impact")
					.fontSize(function(d) { return Math.sqrt(d.size); })
					.on("end", draw);
			layout.start();
			function draw(words) {
				d3.select("#wordCloud").append("svg")
						.attr("width", layout.size()[0])
						.attr("height", layout.size()[1])
					.append("g")
						.attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
					.selectAll("text")
						.data(words)
					.enter().append("text")
						.style("font-size", function(d) { return d.size + "px"; })
						.style("font-family", "Impact")
						.style("fill", function(d, i) { return fill(i); })
						.attr("text-anchor", "middle")
						.attr("transform", function(d) {
						return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
						})
						.text(function(d) { return d.text; });
			}
		}

		$(document).on("keypress", "input", function(e){
			if (e.which==13) {
				// Enter key
				e.preventDefault();  // Don't submit conventionally
				var form = $(this).parents("form");
				var form_data = form.serializeArray();
				var form_target = form.attr("action");
				$.ajax({
					url: form_target,
					method: "POST",
					data: form_data,
					dataType: "json"
				}).success(function(data){
					$("#query_details").html(data["queryDetails"]);
					drawYearGraph(data["articlesPerYear"]);
					drawWordCloud(data["titleWords"]);
				}).always(function(){
					$("#search_in_progress").addClass("hide");
				});
				$("#search_in_progress").removeClass("hide");
			}
		})
	</script>
</body>
</html>