<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Disease Research Trends</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('bower.static', filename='materialize/bin/materialize.css') }}" />
</head>
<body>
	Hello Flask


	<script type="text/javascript" src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('bower.static', filename='materialize/bin/materialize.js') }}"></script>
</body>
</html>